<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>

		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/teacher/public.css" />
		<script src="../js/teacher/do.js" type="text/javascript" charset="utf-8"></script>

	</head>

	<body>
		<div id="teach_main_panle">

			<!--
            	作者：offline
            	时间：2019-10-12
            	描述：顶部栏
            -->
			<div class="row" id="teach_top_main_panle">
				<div class="col-md-6" id="teach_top_logo">
					<a href="../index.html"><img src="../img/index/logo_min.png" /></a>
				</div>
				<div class="col-md-6" id="teach_top_bar">
					<div class="dropdown">
						<h4 class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    						欢迎你:XXX
    						<span class="caret"></span>
  						</h4>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
							<li>
								<a href="#">个人中心</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#">退出</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--
            	作者：offline
            	时间：2019-11-14
            	描述：班级
            -->
			<div id="tool">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab">班级主页</a>
					</li>
					<li role="presentation">
						<a href="#paple" aria-controls="paple" role="tab" data-toggle="tab">班级试卷集</a>
					</li>

				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<h3>这是您麾下的<font color="red">高等数学</font>所属的<font color="red">17软件工程1班</font>，目前有人员<font color="red">47名</font></h3>
						<table id="class_member">
							<tr>
								<td>姓名</td>
								<td>性别</td>
								<td>邮箱</td>
							</tr>
							<tr>
								<td>XXX</td>
								<td>男</td>
								<td>9111111@qq.com</td>
							</tr>
							<tr>
								<td>XXX</td>
								<td>女</td>
								<td>911222221@qq.com</td>
							</tr>
							<tr>
								<td>XXX</td>
								<td>女</td>
								<td>5465456111@qq.com</td>
							</tr>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="paple">
						<button type="button" class="btn btn-info" id="class_add_paple_btn" data-toggle="modal" data-target="#class_add_paple">推送试卷</button>
						<!-- Modal -->
						<div class="modal fade" id="class_add_paple" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">为该班级推送试卷</h4>
									</div>
									<div class="modal-body">
										<form>
											<div class="form-group">
												<label for="SubjectName">科目</label>
												<select class="form-control">
													<option>XXX</option>
													<option>XXXX</option>
													<option>3XXX</option>
													<option>4XX</option>
													<option>5X</option>
												</select>
											</div>
											<div class="form-group">
												<label for="PapleName">试卷</label>
												<select class="form-control">
													<option>AAA</option>
													<option>XAAX</option>
													<option>AAXX</option>
													<option>AX</option>
													<option>5X</option>
												</select>
											</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
										<button type="button" class="btn btn-primary">推送</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="problem">
							<table>
								<tr>
									<td>
										<a href="../exam/examination.html">试卷2</a>
									</td>
									<td>
										<span class="sp">
									科目:数据结构
								</span>
									</td>
									<td>
										<span class="sp2">
									状态:未开始
								</span>
									</td>
								</tr>
								<tr>
									<td>
										<span class="sp">
									日期:2019-05-30
								</span>
									</td>
									<td>
										<span class="sp">
									时长:120分钟
								</span>
									</td>
									<td>
										<a>
											下架
										</a>
									</td>
								</tr>
							</table>
						</div>
						
						<div class="problem">
							<table>
								<tr>
									<td>
										<a href="../exam/examination.html">试卷3</a>
									</td>
									<td>
										<span class="sp">
									科目:数据结构
								</span>
									</td>
									<td>
										<span class="sp2">
									状态:已结束
								</span>
									</td>
								</tr>
								<tr>
									<td>
										<span class="sp">
									日期:2019-05-30
								</span>
									</td>
									<td>
										<span class="sp">
									时长:120分钟
								</span>
									</td>
									<td>
										<a href="correction.html">
											批改
										</a>
									</td>
								</tr>
							</table>
							
							
						</div>

					</div>
				</div>

			</div>

		</div>
	</body>

</html>